PORT=8000
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_REGION=us-east-1
AWS_S3_BUCKET=beatzy-audio
ACRCLOUD_HOST=identify-eu-west-1.acrcloud.com
ACRCLOUD_ACCESS_KEY=your_acrcloud_key
ACRCLOUD_SECRET_KEY=your_acrcloud_secret
LOG_LEVEL=INFO
